<div class="row">
  <div class="large-6 large-centered columns">
    <h2>Sign up</h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>

      <div class="field">
        <p><%= f.label :username %>
        <%= f.text_field :username, autofocus: true %></p>
        <p><%= f.label :email %>
        <%= f.email_field :email, autofocus: true %></p>
      </div>

      <div class="field">
        <%= f.label :password %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %>
        <%= f.password_field :password, autocomplete: "off" %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, autocomplete: "off" %>
      </div>

      <br>
      <div class="actions">
        <p><%= f.submit "Sign up", class: "success expanded button" %></p>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>
