<dvi class="row">
	<div class="button-group">
		<%= link_to " Back to all Posts", posts_path, class: "button hollow fi-arrow-left"%>
		<%= link_to " Add a new Professor", new_professor_path, class: "button hollow fi-plus" %>
		</div>
</dvi>

<h4>All professors:</h4>
<br>


<% @professor.each do |p| %>
	<p>
		<%= link_to (image_tag (p.avatar.url(:thumb))), professor_path(p), class: "" %>
		<%= link_to p.name, professor_path(p) %> <%= link_to 'Edit', edit_professor_path(p) %>
	</p>
	<hr>
<% end %>