<dvi class="row">
	<div class="button-group">
		<%= link_to " Back to all Professors", professors_path, class: "button hollow fi-arrow-left"%>
		<%= link_to " Add a new Professor", new_professor_path, class: "button hollow fi-plus" %>
		</div>
</dvi>
<br>
<h4><%= @professor.name %> </h4>
<hr>

<% if @professor.posts.count > 0 %>
	<% Post.where(professor_id: @professor.id).find_each do |p| %>
		<h4>"<%= link_to p.text, p %>"</h4>

		<p>Professor: <%= link_to Professor.find(p.professor_id).name, professor_path(Professor.friendly.find(p.professor_id)) %>
			| by <%= link_to User.find(p.user_id).username, user_path(User.friendly.find(p.user_id))%>
			| upvotes: <%= p.votes.count %></p>
		<% if current_user %>
			<% if current_user.id == p.user_id %>
		  	<p><%= link_to 'Edit', edit_post_path(p) %>
		  	<%= link_to 'Delete', p, method: :delete, data: { confirm: 'Are you sure?' }%></p>
		  <% end %>
		  <%= link_to 'Upvote', p, method: :upvote, class: "success button large hollow fa fa-arrow-circle-up fa-5x"%>
		<% else %>
			Please <%= link_to "Log In", new_user_session_path %> or <%= link_to "Create an Account", new_user_registration_path %> to upvote posts.
		<% end %>
		<hr>
	<% end %>
<% else %>
	<h3>This professor has no posts yet.</h3>
<% end %>

<br>
<br>
<p><%= link_to "Add a new Professor", new_professor_path %></p>
<p><%= link_to 'Back to all professors.', professors_path %></p>