<div class="row">
  <div class="large-6 large-centered columns">
	  <dvi class="row">
			<div class="button-group">
				<%= link_to " Back to all Posts", posts_path, class: "button hollow fi-arrow-left"%>
				<%= link_to " Add a new Professor", new_professor_path, class: "button hollow fi-plus" %>
			</div>
		</dvi>

	  <% if current_user %>
	  <h3>New Post</h3>
			<%= form_for(@post) do |f| %>

			<div class="field">
	      <p><%= f.label :text%>
	      <%= f.text_field :text, autofocus: true %></p>
	    </div>

	    <div class="field">
	      <p><%= f.label :professor_id%>
	      <%= f.collection_select :professor_id, Professor.all, :id, :name, autofocus: true %>
	      <%= link_to "Add a new Professor", new_professor_path %></p>
	    </div>

	    <br>
	    <div class="actions">
	      <p><%= f.submit "Submit Post", class: "success expanded button" %></p>
	    </div>

			<% end %>
		<% else %>
			<h4>Please <%= link_to "Log In", new_user_session_path %> or <%= link_to "Create an Account", new_user_registration_path %> to add a new post.</h4>
			
		<% end %>
	</div>
</div>