<!DOCTYPE html>
<html lang="en">
  <head>
    <title> My Professor Says </title>
    <link rel="shortcut icon" href="http://contributors.rubyonrails.org/assets/favicon-e64b20ad4e794fd9a33bb947feb54b43467b288fb364221f06acb5ad73ddd9cc.ico">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link href="http://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css" rel="stylesheet">

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div id="wrapper">
      <div id="header">
        <%= render 'layouts/header' %>
      </div>
      <%= render 'layouts/messages' %>
      <div id="content">
        <div class="row">
          <%= yield %>
        </div>
      </div>
      <div id="footer">
        <%= render 'layouts/footer' %>
      </div>
    </div>
  </body>
</html>
